[Unit]
Description=Calendar App Frontend (Next.js)
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/app/calendar-app/frontend
ExecStart=/usr/bin/npm run start
Restart=always
RestartSec=5
StartLimitIntervalSec=300
StartLimitBurst=5
Environment=NODE_OPTIONS=--max_old_space_size=256

[Install]
WantedBy=multi-user.target
